@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

button:disabled {
    @apply cursor-not-allowed;
}

.font-header {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-text {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

select:not([multiple]) option {
    @apply bg-gray-950;
}
